RewriteEngine On
# Expects your galler to be on a virtual /gallery/ url.
RewriteCond %{THE_REQUEST} \ /gallery/([^?]+)(\?.|\ .)
RewriteCond %{REQUEST_FILENAME} !insertGalleryHere\.php
# Change this to the real location if necessary.
RewriteRule .   /insertGalleryHere.php?request=%1   [QSA,L]

# This is default, it'll break if there's nothing beyond /gallery/
RewriteCond %{THE_REQUEST} \ /gallery/
RewriteCond %{REQUEST_FILENAME} !insertGalleryHere\.php
RewriteRule .   /insertGalleryHere.php?request=browse   [QSA,L]
