#ighFolders {

}
#ighFolders li {
	display: inline;
	padding-right: 2em;
}

#ighThumbs ul {

}

#ighThumbs li {
	display: inline;
}

#ighThumbs img {
	border: 1px solid black;
	padding: 3px;
}

#ighImage {
	margin-left: 15%;
}

#ighImage img, #ighPrev img, #ighNext img {
	border: 1px solid black;
	padding: 3px;
}

#ighPrev {
	float: left;
}

#ighNext {
	float: right;
}
#ighCrumbs li {
	display: inline;
	padding-right: 2em;
}
